<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&amp;display=swap"
          rel="stylesheet">

    <!-- Css Styles -->

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
<div  th:insert="~{layout/web/header :: nguoidung-header}"></div>
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th class="shoping__product">Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cartdetail : ${list}" class="gio_hang">
                            <td th:text="${list.indexOf(cartdetail) + 1}"></td>
                            <td class="shoping__cart__item">
                                <img th:src="@{'/image/' + ${cartdetail.id.sanPham.image}}">
                                <h5 th:text="${cartdetail.id.sanPham.ten}"></h5>
                            </td>
                            <td class="shoping__cart__price" th:text="${cartdetail.id.sanPham.giaBan}">

                            </td>
                            <td class="shoping__cart__quantity">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <a class="dec qtybtn"
                                           th:href="@{/gio-hang/giam(idSP=${cartdetail.id.sanPham.id},idGioHang=${cartdetail.id.gioHang.id})}">-</a>
                                        <input type="text" th:value="${cartdetail.soLuong}">
                                        <a class="inc qtybtn"
                                           th:href="@{/gio-hang/tang(idSP=${cartdetail.id.sanPham.id},idGioHang=${cartdetail.id.gioHang.id})}">+</a>
                                    </div>
                                </div>
                            </td>
                            <td class="shoping__cart__total"
                                th:text="${cartdetail.soLuong * cartdetail.id.sanPham.giaBan}">

                            </td>
                            <td class="shoping__cart__item__close">
                                <a class="icon_close"
                                   th:href="@{/gio-hang/delete(idSP=${cartdetail.id.sanPham.id},idGioHang=${cartdetail.id.gioHang.id})}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                        Upadate Cart</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout" th:each="addHoaDon : ${list}">
                    <h5>Cart Total</h5>
                    <ul>
<!--                        <li>Subtotal <span>$454.98</span></li>-->
                        <li>Total <span id="price"></span></li>
                    </ul>
                    <a th:href="'/hoa-don/add/'+${addHoaDon.id.gioHang.id}" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section th:replace="~{layout/web/footer :: footer1}" ></section>
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<!--<script >-->
<!--var item=document.getElementById("gio_hang");-->
<!--for (var i = 0; i < items.length; i++) {-->
<!--    var item = items[i];-->

<!--    // Lấy giá và số lượng từ các phần tử con-->
<!--    var price = parseFloat(item.getElementsByClassName("shoping__cart__total")[0].innerText);-->

<!--}-->
<!--</script>-->
</body>
</html>